body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.dashboard {
    width: 90%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    flex-grow: 1;
    display: flex;
}

.sidebar {
    width: 250px;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
}



.chats-section {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.nav-link.active {
    color:#00bb00;
}

.chat-window {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
}

.chat-window iframe {
    max-width: 800px;
}

.messages {
    height: 1vh;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.chat-input {
    display: flex;
    border-top: 1px solid #dee2e6;
}

.chat-input input {
    flex-grow: 1;
    border: none;
    padding: 15px;
}

.chat-input button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 20px;
}


/* Styled Buttons */
.btn-custom {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.btn-custom:hover {
    background-color: #0056b3;
    color: #eef;
}
/* Search Friend Input */
.friend-request-section input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
}
/* Friend Request Button */
.friend-request-section button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.friend-request-section button:hover {
    background-color: #218838;
}


.flash-messages {
    margin-bottom: 15px;
}
.flash-messages .error {
    color: #dc3545;
}
.flash-messages .success {
    color: #28a745;
}

.message-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }

  
/* Основной стиль для контейнера */
.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #dee2e6;
}

/* Стиль для обычного поля ввода */
#message-input {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 12px;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 14px;
}

/* Кастомный чекбокс */
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.custom-checkbox input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #007bff;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Стилизация чекбокса при активном состоянии */
.custom-checkbox input:checked + .checkmark {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.btn-custom svg {
    width: 24px;
    height: 24px;
}

.paperclip-icon {
    width: 24px;
    height: 24px;
}

/* Кнопка отправки */
#send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}
